*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html,body{
 
    width: 100%;
    height: 100%;
 }

 body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
                       rgba(0, 0, 0, 0.7)), url("https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg")
 }

 #image {
   height: 50px;
   width: 80%

}

.header {
   width: 100%;
   height: 10%;
  padding: 30px;
   display: flex;
   justify-content: right;
   
   
}
#sign{
   background-color: red;
   color: white;
   border-radius: 6px;
   padding: 7px;
   font-weight: bold;
   width:85px;
   border: black;
   margin-right: 15px;
   font-size: medium;
}
.button{
   margin-left: 900px;
}
h1{
   color:white;
   text-align: center;
   margin-top: 15%;
   font-size: 55px;
}
h2{
   color: white;
   margin-left: 38%;
   margin-top: 15px;
   font-size: 30px;
   font-weight:100;
}
h3{
   color: white;
   margin-left: 29%;
   margin-top: 15px;
   font-size: 30px;
   font-weight:100;
   font-size: 25px;
}


 
